<div class="container-md">
  <div class="row">
    <button
      type="button"
      class="btn btno-utline-dark"
      routerLink="/nuevo-proyecto"
    >
      Nuevo Proyecto
    </button>

    <div class="header">
      <h1><h1>Lista de Proyectos</h1></h1>
    </div>
  </div>
  <div class="row">


    <table class="table table-responsive table-bordered">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        @for(proyecto of lista_proyectos$; track proyecto.id; let i = $index){
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ proyecto.nombre }}</td>
          <td>{{ proyecto.descripcion }}</td>
          <td>{{ proyecto.fechainicio }}</td>
          <td>{{ proyecto.fechafin }}</td>
          <td>
            <button
              class="btn btn-outline-success"
              routerLink="/editar-proyecto/{{ proyecto.id }}"
            >
              Editar
            </button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!--

componente
    css   *
    html  *
    ts

Interfase *
servicio  *






-->
