<div class="container-md">
  <div class="row">
    <button
      type="button"
      class="btn btno-utline-dark"
      routerLink="/nuevo-empleado"
    >
      Nuevo Empleado
    </button>

    <div class="header">
      <h1><h1>Lista de Empleados</h1></h1>
    </div>
  </div>
  <div class="row">
    <table class="table table-responsive table-bordered">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Posicion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of lista_empleados$; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ empleado.nombres }}</td>
          <td>{{ empleado.apellidos }}</td>
          <td>{{ empleado.email }}</td>
          <td>{{ empleado.posicion }}</td>
          <td>
            <button
              class="btn btn-outline-success"
              routerLink="/editar-empleado/{{ empleado.id }}"
            >
              Editar
            </button>
            <button
              class="btn btn-outline-danger"
              (click)="eliminarEmpleado(empleado.id!)"
            >
              Eliminar
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>

<!--

componente
    css   *
    html  *
    ts

Interfase *
servicio  *






-->
